<a href='/'>
<div class='home-butt'>
          Home
</div>
</a>

<div>
          <img class="img-profile" src="{{image}}" alt="{{name}}">
          <h3>Name: {{name}}</h3>
          <h3>Email: {{email}}</h3>
          <h3>Phone: {{phone_number}}</h3>
          <a href="{{id}}/edit">Edit</a>
</div>